/**
 * Tools
 */
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/**
 * Pimp my mastermind
 */
body {
    background-color: #333;
    font-family: sans-serif;
}
.title,
.subtitle {
    width: 300px;
    margin: 30px auto 0;
    text-align: center;
}
.title {
    color: #EEE;
    font-size: 34px;
}
.subtitle {
    color: #AAA;
    font-size: 18px;
    margin-top: 5px;
}

#container {
    width: 300px;
    margin: 20px auto;
    background-color: #EEE;
    border-radius: 5px;
}
.row {
    padding: 4px;
    border-bottom: 1px solid #EEE;
}
.row:first-child {
    border-top: 1px solid #EEE;
}
.pawn {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-radius: 50%;
    margin: 2px;
    background-color: white;
}

.input {
    width: 250px;
    margin: 20px auto 0;
}

.point {
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    border-radius: 50%;
}
.point.black {
    background-color: black;
}
.point.white {
    background-color: white;
	border-top: 1px solid #EEE;
}
